@media screen and (max-width: 576px) {
  /* navber style */
  .menu {
    display: none;
  }

  #navbar{
    padding-bottom: 20px;
  }
  #hamburger-menu {
    display: block;
    margin: 0 20px;
  }
  .logo{
    margin: 0 20px;
  }
  /* banner style */
  .banner-section {
    flex-direction: column;
  }
  .banner-info {
    max-width: 100%;
    margin-left: 20px;
  }
  .banner-title{
    font-size: 3rem;
}
.banner-description{
    width: 280px;
}
.btn-container{
    display: flex;
}
.btn-primary{
    font-size: 1rem;
    padding: 10px 30px;
}
.btn-secondary{
    font-size: 1rem;
    padding: 10px 30px;
}
.banner-img{
    max-width: 100%;
    margin: 50px 30px;
}
.position1{
    position: absolute;
    top: 10%;
    right: 3%;
}
.position2{
    position: absolute;
    top: 48%;
    right: 50%;
}
/* change habit section */
.box-container{
  flex-direction: column;
}
/* Run an Extra Mile section */
.run-container{
  flex-direction: column;
  width: 85%;
  padding: 10px;
}
.run-info{
  padding-top: 20px;
}
.run-info, .run-image{
  width: 80%;
  padding-bottom: 20px;
}
.run-info button{
  width: 100%;
}
/* BMI Section */
.BMI-Calculator-info{
  margin-left: 20px;
}
.BMI-container-info{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.table-container{
  width: 100%;
}
.table{
  margin: 20px;
}
.title-position{
  margin-left: 20px;
}
.form-container{
  width: 95%;
  margin-left: 20px;
}
.form{
  width: 100%;
}
.input-field{
  width: 90%;
}
/* Meet our team section */
.team-container{
  width: 85%;
  margin: 0 20px;
  grid-template-columns: repeat(1, 1fr);
}
.team-member{
  width: 100%;
}
}
