@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* shared styles starts here */

.display-flex {
  display: flex;
}

.btn-primary {
  background-color: #e6533c;
  color: #fff;
  font-size: 1rem;
  width: 200px;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
}
.title {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 15px;
}
.description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
}

/* shared styles ends here */

/* navbar styles starts here */
header {
  background-color: #000;
}
#navbar {
  justify-content: space-between;
  align-items: center;
  height: 17vh;
  padding-top: 20px;
}
.logo {
  color: #e6533c;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}
.menu {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 12px 0px;
  padding-left: 5px;
  padding-right: 25px;
}
.menu-list {
  list-style: none;
  gap: 3rem;
}
.menu-list a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}
.home-btn {
  background-color: #e6533c;
  padding: 8px 22px;
  border-radius: 25px;
}
#hamburger-menu {
  display: none;
}

/* navbar styles ends here */

/* banner styles starts here */
.banner-section {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}
.banner-info {
  max-width: 50%;
  margin-left: 210px;
}
.banner-title {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 900;
}
.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0px;
}
.btn-secondary {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  width: 200px;
  padding: 15px 40px;
  border: 1px solid #fff;
  border-radius: 30px;
  margin-left: 12px;
}
.banner-img {
  max-width: 50%;
  margin-right: 220px;
  position: relative;
}
.banner-img img {
  width: 100%;
}

.video-info {
  background-color: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 20px;
  width: max-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  gap: 10px;
  align-items: center;
}
.position1 {
  position: absolute;
  top: 22%;
  right: -5%;
}
.position2 {
  position: absolute;
  top: 75%;
  right: 70%;
}
.video-title {
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.video-description {
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
}

/* banner styles ends here */

/* Change your habit styles starts here */

.habit-section {
  background-color: #000;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
}
.habit-info {
  text-align: center;
}
.box-container{
  padding: 30px;
}
.box {
  text-align: center;
  padding: 15px;
  min-height: 200px;
  max-width: 200px;
  margin: 10px 20px;
}

.box img{
  border:4px solid rgba(255, 255, 255, 0.10);
  border-radius: 50%;
  width: 100%;
}

.box-title {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.box-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 18px;
}
/* Change your habit styles ends starts here */

/* Run an Extra Mile styles starts here */
.run-section{
  background-color: #000;
  padding: 100px 0;
}
.run-container{
  width: 1020px;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}
.run-info{
  width: 45%;
}
.run-info button{
  margin-top: 20px;
}
.run-image{
  width: 45%;
}
.run-image img{
  width: 100%;
  border-radius: 10px;
}
/* Run an Extra Mile ends starts here */
/* BMI Calculator styles starts here */
.BMI-Calculator-section{
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.BMI-container{
  width: 100%;
  background-color: #222;
  padding: 50px 0px;
  margin-top: 60px;
}
.BMI-container-info{
  width: 1020px;
  gap: 40px;
  margin-top: 10px;
}
.table-container{
  width: 40%;
  flex-direction: column;

}
.table-title{
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 15px;
}
.title-position{
  margin-left: 40px;
}
.table{
  margin: 40px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  /* height: 600px; */
}
.table-heading{
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
}
.form-container{
  width: 60%;
}
.form{
  width: 700px;
  margin-bottom: 20px;
}
.form-info{
  margin-bottom: 15px;
}
.input-field{
  background-color: rgba(255, 255, 255, 0.10);
  color: rgba(255, 255, 255, 0.60)  ;
  border: none;
  border-radius: 10px;
  width: 240px;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* BMI Calculator styles ends here */
/* Meet our team styles starts here */
.team-section{
  background-color: #000;
  flex-direction: column;
  text-align: center;
  padding: 100px 0;
}
.team-container{
 background-color: rgba(255, 255, 255, 0.10);
 width: 1020px;
 padding: 30px;
 margin-top: 40px;
 border-radius: 10px;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
}
#member-image1{
 background-image: url(../images/trainer1.png);
}
#member-image2{
 background-image: url(../images/trainer2.png);
}
#member-image3{
 background-image: url(../images/trainer3.png);
}
#member-image4{
 background-image: url(../images/trainer4.png);
}
#member-image5{
 background-image: url(../images/trainer5.png);
}
#member-image6{
 background-image: url(../images/trainer6.png);
}
.team-member{
 background-size: cover;
 width: 330px;
 height: 270px;
 border-radius: 10px;
 position: relative;
}
.team-info{
 position: absolute;
 top: 80%;
 left: 7%;
}
.member-title{
 color: #FFF;
 font-size: 1.2rem;
 font-weight: 700;
}
.member-description{
 color: rgba(255, 255, 255, 0.50);
 font-size: .8rem;
 font-weight: 400;
 text-align: start;
}

/* Meet our team styles ends here */
